*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.button{
    text-decoration: none;
    text-transform: uppercase;
    color: #fefff4;
    display: block;
    text-align: center;
}
.wrapper{
    background-image: url('../img/backround.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.header{
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__headline{
    display: block;
    margin: 0;
    text-align: center;
}
.header__text{
    text-transform: uppercase;
    font-size: 40px;
    color: #fffffa;
    font-weight: 400;
}
.header__main-text{
    font-size: 60px;
    color: #ffca08;
    padding-right:  20px;
    font-weight: 500;
}
.main-content-container{
    display: flex;
    justify-content: space-between;
}
.main-section{
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
}
.main-section__watchs-img-container{
    position: relative;
    margin-left: 40px;
    width: 575px;
    height: 556px;
}
.main-section__watchs-img{
    position: relative;
    z-index: 2;
    width: 575px;
    height: 556px;
    background-image: url('../img/clock.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-section__price-container{
    content: '';
    position: absolute;
    background-image: url('../img/price.png');
    height: 105px;
    width: 686px;
    left: -83px;
    bottom: 69px;
    display: flex;
    justify-content: space-between;
    padding: 36px 61px;
    z-index: 1;
}
.main-section__price{
    font-size: 30px;
    font-weight: bold;
    color: #fafafc;
    text-shadow: 1px 1px 5px black;
}
.main-section__price-old{
    text-decoration: line-through;
}
.main-section__discount{
    content: '';
    position: absolute;
    background-image: url('../img/sale.png');
    height: 400px;
    width: 345px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: -187px;
    bottom: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-top: 16px;
}
.main-section__discount-percent{
    font-size: 32px;
    color: #edffff;
    font-weight: bold;
}
.main-section__button{
    padding: 35px 0;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
    background-color: #ffcc01;
    width: 435px;
    margin-left: auto;
    margin-right: auto;
}
.main-left-section__main-info{
    background-color: #fe0100;
    padding-right: 13px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-left-section__main-info-text{
    text-transform: uppercase;
    color: #ffe8ff;
    font-size: 25px;
    font-weight: bold;
}
.main-left-section__main-info-border{
    border-style: solid;
    border-width: 4px;
    padding: 4px;
    padding-left: 0;
    border-color: #fe0100;
    border-left: none;
    height: 90px;
}
.main-left-section__info{
    padding-top: 18px;
}
.main-left-section__info-text{
    color: #efefef;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5;
}
.main-left-section__info-container{
    padding-left: 100px;}
.main-left-section__info-image-container{
    margin-left: 47px;}
.main-left-section__medals{
    display: flex;
    justify-content: space-around;
}
.main-right-section{
    padding-right: 100px;
}
.main-right-section__read-more-section{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 22% 0;
}
.main-right-section__main-text{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}
.main-right-section__main-text_accent{
    color: #ffcb00;
}
.main-right-section__read-more-text{
    font-size: 20px;
}
.main-right-section__read-more-button{
    padding: 10px 0;
    font-size: 26px;
    font-weight: 500;
    width: 280px;
    border-style: solid;
    border-width: 4px;
    border-color: #ffcb00;
}
.main-right-section__delivery-section{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10% 0;
}
.main-right-section__delivery-details-container{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-right-section__delivery-headline{
    font-size: 28px;
}
.main-right-section__delivery-detail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.main-right-section__delivery-detail:first-child{
    margin-top: 0;
}
.main-right-section__delivery-detail-text{
    color: white;
    font-size: 26px;
    font-weight: 300;
}
.main-right-section__delivery-detail-icon{
    padding-right: 30px;
}
@media (max-width: 1450px){
    .main-content-container{
        /*justify-content: center;*/
        flex-direction: column;
    }
    .main-section{
        order: 1;
        display: flex;
    }
    .main-section__watchs-img-container{
        width: 575px;
        height: 556px;
    }
    .main-left-section{
        order: 2;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-left-section__main-info{
        justify-content: center;
        padding-right: 0px;
    }
    .main-left-section__main-info-border{
        padding-left: 4px;
        border-left: solid;
        border-left-width: 4px;
        border-left-color: #fe0100;
        width: 600px;
    }
    .main-left-section__info-container{
        padding-left: 0;
    }
    .main-left-section__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-left-section__info-image-container{
        margin-left: 0;
    }
    .main-left-section__info-text{
        text-align: center;
    }
    .main-right-section{
        order: 3;
        padding-right: 0;
    }
    .main-right-section__read-more-section,
    .main-right-section__delivery-section{
        padding: 20px 0 0 0;
    }
    .main-right-section__delivery-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-right-section__delivery-details-container{
        align-self: auto;
    }
}